* 
{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body 
{
    background: url(assets/bg.png) no-repeat center center fixed;
}

h1 
{
    padding-top: 5%;
    text-align: center;
    font-size: 5vw;
    color: rgb(90, 37, 192);
    font-weight: 900;
}

img[alt="logo"] 
{
    padding-top: 1%;
    padding-left: 10%;
    height: 30vw;
    width: 30vw;
    max-width: 450px;
}

.play-button 
{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 3vw;
    font-weight: 900;
    padding-left: 15%;
    padding-right: 10%;
    cursor: pointer;
}

img[alt*="play"] 
{
    bottom: 3px;
    width: 3vw;
    height: 3vw;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 1%;
}

@media screen and (max-width: 768px) 
{
    h1 
    {
        font-size: 7vw;
    }
    img[alt="logo"] 
    {
        height: 40vw;
        width: 40vw;
    }
    .play-button 
    {
        font-size: 5vw;
    }
    img[alt*="play"] 
    {
        width: 5vw;
        height: 5vw;
    }
}
